<div style="display: flex;flex-direction: row;height: 100%;">
    <div>
        <ul nz-menu nzMode="inline">
            <li nz-submenu nzTitle="组件" nzOpen>
                <ul>
                    <li nz-menu-group>
                        <ul>
                            <li nz-menu-item (click)="nowComponent.set('button')">按钮</li>
                            <li nz-menu-item nzSelected (click)="nowComponent.set('input')">输入</li>
                            <li nz-menu-item (click)="nowComponent.set('customer-form')">拖拽生成表单</li>
                            <li nz-menu-item (click)="nowComponent.set('process-tree')">流程树</li>
                            <li nz-menu-item (click)="nowComponent.set('multi-dimensional-flowchart')">多维流程图</li>
                            <li nz-menu-item (click)="nowComponent.set('generate-png')">svg生成</li>
                            <li nz-menu-item (click)="nowComponent.set('dynamic-table')">动态表格</li>
                            <li nz-menu-item (click)="nowComponent.set('user-select')">用户选择</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div style="height: 100%;flex-grow: 1;padding: 20px;" cdkScrollable>
        @switch (nowComponent()) {
            @case ('customer-form') {
                <lib-customer-form></lib-customer-form>
            }
            @case ('process-tree') {
                <lib-process-tree></lib-process-tree>
            }
            @case ('multi-dimensional-flowchart') {
                <lib-multi-dimensional-flowchart></lib-multi-dimensional-flowchart>
            }
            @case ('generate-png') {
                <lib-generate-png></lib-generate-png>
            }
            @case ('dynamic-table') {
                <lib-dynamic-table></lib-dynamic-table>
            }
            @case ('user-select') {
                <lib-user-select style="width: 400px;"></lib-user-select>
            }
            @case ('button') {
                <lib-button>123</lib-button>
            }
            @case ('input') {
                <lib-input [pattern]="test"></lib-input>
            }
            
        }
    </div>
</div>