<div style="display: flex;flex-direction: row;height: 100%;">
    <div>
        <ul nz-menu nzMode="inline">
            <li nz-submenu nzTitle="组件" nzOpen>
                <ul>
                    <li nz-menu-group>
                        <ul>
                            <li nz-menu-item nzSelected (click)="nowComponent.set('button')">按钮</li>
                            <li nz-menu-item (click)="nowComponent.set('input')">输入</li>
                            <li nz-menu-item (click)="nowComponent.set('tag')">标签</li>
                            <li nz-menu-item (click)="nowComponent.set('switch')">开关</li>
                            <li nz-menu-item (click)="nowComponent.set('number-input')">数字输入</li>
                            <li nz-menu-item (click)="nowComponent.set('segmented')">分段控制器</li>
                            <li nz-menu-item (click)="nowComponent.set('water-mark')">水印</li>
                            <li nz-menu-item (click)="nowComponent.set('tooltip')">提示</li>
                            <li nz-menu-item (click)="nowComponent.set('popover')">气泡</li>
                            <li nz-menu-item (click)="nowComponent.set('popconfirm')">气泡确认</li>
                            <li nz-menu-item (click)="nowComponent.set('checkbox')">复选框</li>
                            <li nz-menu-item (click)="nowComponent.set('radio')">单选框</li>
                            <li nz-menu-item (click)="nowComponent.set('slider')">滑块</li>
                            <li nz-menu-item (click)="nowComponent.set('multi-dimensional-flowchart')">多维流程图</li>
                            <li nz-menu-item (click)="nowComponent.set('customer-form')">拖拽生成表单</li>
                            <li nz-menu-item (click)="nowComponent.set('process-tree')">流程树</li>
                            <li nz-menu-item (click)="nowComponent.set('generate-png')">svg生成</li>
                            <li nz-menu-item (click)="nowComponent.set('dynamic-table')">动态表格</li>
                            <li nz-menu-item (click)="nowComponent.set('user-select')">用户选择</li>

                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div style="height: 100%;flex-grow: 1;padding: 20px;" cdkScrollable>
        @switch (nowComponent()) {
        @case ('customer-form') {
        <lib-customer-form></lib-customer-form>
        }
        @case ('process-tree') {
        <lib-process-tree></lib-process-tree>
        }
        @case ('multi-dimensional-flowchart') {
        <app-doc-flowchart></app-doc-flowchart>
        }
        @case ('generate-png') {
        <lib-generate-png></lib-generate-png>
        }
        @case ('dynamic-table') {
        <lib-dynamic-table></lib-dynamic-table>
        }
        @case ('user-select') {
        <div style="display: flex;flex-direction: row;align-items: center;gap: 16px;">
            <div>
                选择模式:
            </div>
            <div>
                <lib-switch [(ngModel)]="checked" [switchCheckedChildren]="'单选'" [switchUnCheckedChildren]="'多选'">
                </lib-switch>
            </div>
        </div>
        <div style="padding-top: 16px;">
            <lib-user-select style="width: 400px;" [selectMode]="checked() ? 'single' : 'multiple'"></lib-user-select>
        </div>
        }
        @case ('button') {
        <app-doc-button></app-doc-button>
        }
        @case ('input') {
        <app-doc-input></app-doc-input>
        }
        @case ('tag') {
        <app-doc-tag></app-doc-tag>
        }
        @case ('switch') {
        <app-doc-switch></app-doc-switch>
        }
        @case ('number-input') {
        <app-doc-number-input></app-doc-number-input>
        }
        @case ('segmented') {
        <app-doc-segmented></app-doc-segmented>
        }
        @case ('water-mark') {
        <app-doc-water-mark></app-doc-water-mark>
        }
        @case ('tooltip') {
        <app-doc-tooltip></app-doc-tooltip>
        }
        @case ('checkbox') {
        <app-doc-checkbox></app-doc-checkbox>
        }
        @case ('radio') {
        <app-doc-radio></app-doc-radio>
        }
        @case ('slider') {
        <app-doc-slider></app-doc-slider>
        }
        @case ('popover') {
        <app-doc-popover></app-doc-popover>
        }
        @case ('popconfirm') {
        <app-doc-popconfirm></app-doc-popconfirm>
        }
        }
    </div>
</div>