<div style="display: flex;flex-direction: row;height: 100%;">
    <div>
        <ul nz-menu nzMode="inline">
            <li nz-submenu nzTitle="基础组件" nzOpen>
                <ul>
                    <li nz-menu-group>
                        <ul>
                            <li nz-menu-item *ngFor="let component of components" (click)="nav(component.path)">{{component.name}}</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li nz-submenu nzTitle="业务组件" nzOpen>
                <ul>
                    <li nz-menu-group>
                        <ul>
                            <li 
                                nz-menu-item 
                                *ngFor="let component of businessComponents" 
                                (click)="nav(component.path)">
                                {{component.name}}
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div style="height: 100%;flex-grow: 1;padding: 20px;" cdkScrollable>
        <router-outlet></router-outlet>
    </div>
</div>