lib-input {
    display: inline-block;
    width: 100%;
}

.c-lib-input-container {
    position: relative;
    display: inline-flex;
    width: 100%;
    box-sizing: border-box;
    font-size: @input-font-size-medium;
}

.c-lib-input-control {
    height: @input-height-medium;
    line-height: @input-height-medium;
    box-sizing: border-box;
    font-size: @input-font-size-medium;
    background-color: @text-color-inverse;
    transition: @input-transition;
    width: 100%;
    outline: none;

    &::placeholder {
        color: @text-color-disabled;
    }
}

.c-lib-input-affix-wrapper {
    display: inline-flex;
    padding: 0 @input-padding-horizontal;
    box-sizing: border-box;
    width: 100%;
    border: @base-border-width solid @border-color-base;
    border-radius: @input-border-radius;
    transition: @input-transition;

    .c-lib-input-control {
        border: none;
        box-shadow: none;
    }

    &:hover {
        border-color: @border-color-hover;
    }

    &.c-lib-input-focused {
        border-color: @border-color-focus;
        box-shadow: @input-focus-shadow @focus-outline-color;
    }
}

.c-lib-input-prefix {
    margin-right: @input-affix-spacing;
    display: flex;
    align-items: center;
    color: @text-color-secondary;

    .c-lib-input-prefix-icon {
        margin-right: @input-affix-spacing;
    }
}

.c-lib-input-suffix {
    margin-left: @input-affix-spacing;
    display: flex;
    align-items: center;
    color: @text-color-secondary;

    .c-lib-input-suffix-icon {
        margin-left: @input-affix-spacing;
    }
}

.c-lib-input-clear-icon {
    cursor: pointer;
    color: @text-color-disabled;
    transition: color @animation-duration-normal;
    margin-left: @input-clear-spacing;

    &:hover {
        color: @text-color-tertiary;
    }
}

.c-lib-input-char-count {
    color: @text-color-tertiary;
    margin-left: @input-count-spacing;
}

.c-lib-input-lg {
    .c-lib-input-control {
        height: @input-height-large;
        line-height: @input-height-large;
        padding: 6.5px 0px;
        font-size: @input-font-size-large;
    }
}

.c-lib-input-sm {
    .c-lib-input-control {
        height: @input-height-small;
        line-height: @input-height-small;
        padding: 0 0px;
        font-size: @input-font-size-small;
    }
}

.c-lib-input-status-error {
    border-color: @border-color-error;

    .c-lib-input-control {
        &:hover {
            border-color: @border-color-error;
        }

        &:focus {
            border-color: @border-color-error;
        }
    }

    &:hover {
        border-color: @border-color-error;
    }

    &.c-lib-input-focused {
        border-color: @border-color-error;
        box-shadow: @input-focus-shadow @error-color-outline;
    }
}

.c-lib-input-status-warning {
    border-color: @border-color-warning;

    .c-lib-input-control {
        &:hover {
            border-color: @border-color-warning;
        }

        &:focus {
            border-color: @border-color-warning;
        }
    }

    &:hover {
        border-color: @border-color-warning;
    }

    &.c-lib-input-focused {
        border-color: @border-color-warning;
        box-shadow: @input-focus-shadow @warning-color-outline;
    }
}

.c-lib-input-disabled {
    background-color: @disabled-bg !important;
    border-color: @border-color-base !important;
    color: @disabled-color !important;
    cursor: not-allowed;

    .c-lib-input-control {
        background-color: @disabled-bg !important;
        color: @disabled-color !important;
        cursor: not-allowed;
    }

    .c-lib-input-prefix,
    .c-lib-input-suffix {
        color: @disabled-color !important;
    }
}

.c-lib-input-borderless {
    border: none;
    box-shadow: none;
    background-color: @text-color-inverse;

    .c-lib-input-control {
        border: none;
        box-shadow: none;

        &:hover,
        &:focus {
            border: none;
            box-shadow: none;
        }
    }
}