.c-lib-message {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: @text-color;
    font-size: @message-font-size;
    line-height: @message-line-height;
    display: block;
    width: 100%;
    text-align: center;
}

.c-lib-message-item {
    padding: @message-item-padding;
    border-radius: @message-item-border-radius;
    box-shadow: @shadow-3;
    background: @text-color-inverse;
    pointer-events: auto;
    display: inline-block;
    max-width: @message-item-max-width;
    min-width: @message-item-min-width;
}

.c-lib-message-content {
    display: flex;
    align-items: baseline;
    position: relative;
    gap: @message-content-gap;
}

.c-lib-message-icon {
    display: flex;
    align-items: flex-start;
    font-size: @message-icon-font-size;
}

.c-lib-message-text {
    font-size: @message-text-font-size;
    display: flex;
    align-items: center;
}

.c-lib-message-close-container {
    display: flex;
    align-items: flex-start;

    .c-lib-message-close {
        cursor: pointer;
    }
}

// 消息容器样式
.c-lib-message-container {
    pointer-events: none;
    z-index: @message-container-z-index;
}


// 消息包装容器样式
.c-lib-message-wrapper {
    pointer-events: auto;
    margin-bottom: @message-wrapper-margin;
    width: 100%;
    display: flex;
    justify-content: center;
}