@import './color.less';
.c-lib-segmented {
    box-sizing: border-box;
    position: relative;
    display: inline-flex;
    align-items: center;
    background-color: @background-color-light;
    border-radius: 6px;
    padding: 2px;
    max-width: 100%;
    gap: 4px;

    &-container {
        position: relative;
        flex: 1;
        min-width: 0;
        overflow-x: auto;
        overflow-y: hidden;
        padding: 0;
        margin: 0;
        scrollbar-width: none;
        /* Firefox */
        -ms-overflow-style: none;
        /* IE and Edge */

        &::-webkit-scrollbar {
            display: none;
            /* Chrome, Safari, Opera */
        }
    }

    &-group {
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        width: fit-content;
        min-width: 100%;
        padding: 0;
        margin: 0;
    }

    &-item {
        position: relative;
        color: @text-color-secondary;
        height: 28px;
        padding: 0 12px;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: color 0.3s;
        flex: 0 0 auto;
        z-index: 2;

        &-label {
            display: flex;
            align-items: center;
            white-space: nowrap;
            padding: 0;
            margin: 0;
        }

        &-icon {
            margin-right: 6px;
        }

        &-selected {
            color: @text-color;
        }

        &-disabled {
            color: @text-color-disabled;
            cursor: not-allowed;
        }
    }

    &-thumb {
        position: absolute;
        background-color: @text-color-inverse;
        border-radius: 4px;
        box-shadow: @shadow-1-down;
        transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
            width 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
        height: 28px;
        top: 0;
        left: 0;
        z-index: 1;
        margin: 0;
        padding: 0;
        width: 0;
    }

    &-nav {
        flex: 0 0 28px;
        height: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: @text-color-inverse;
        border-radius: 4px;
        cursor: pointer;
        z-index: 3;
        transition: all 0.3s;
        color: @text-color-tertiary;
        box-shadow: 0 2px 5px @shadow-color-light;

        &:hover {
            background-color: @background-color-lighter;
            color: @text-color;
        }

        &-disabled {
            cursor: not-allowed;
            color: @text-color-disabled;
            box-shadow: none;

            &:hover {
                background-color: @text-color-inverse;
                color: @text-color-disabled;
            }
        }

        &-icon {
            width: 0;
            height: 0;
            border-style: solid;
            padding: 0;
            margin: 0;
        }
    }

    &-prev {
        .c-lib-segmented-nav-icon {
            border-width: 4px 6px 4px 0;
            border-color: transparent currentColor transparent transparent;
        }
    }

    &-next {
        .c-lib-segmented-nav-icon {
            border-width: 4px 0 4px 6px;
            border-color: transparent transparent transparent currentColor;
        }
    }

    &-block {
        display: flex;
        width: 100%;

        .c-lib-segmented-group {
            justify-content: space-between;
        }

        .c-lib-segmented-item {
            flex: 1 1 0%;
        }
    }

    &-lg {
        padding: 3px;

        .c-lib-segmented-item {
            height: 40px;
            font-size: 16px;
        }

        .c-lib-segmented-nav {
            height: 40px;
            flex-basis: 32px;

            &-icon {
                border-width: 5px 7px 5px 0;
            }
        }

        .c-lib-segmented-next .c-lib-segmented-nav-icon {
            border-width: 5px 0 5px 7px;
        }

        .c-lib-segmented-thumb {
            height: 40px;
        }
    }

    &-sm {
        padding: 1px;

        .c-lib-segmented-item {
            height: 24px;
            font-size: 12px;
        }

        .c-lib-segmented-nav {
            height: 24px;
            flex-basis: 24px;

            &-icon {
                border-width: 3px 5px 3px 0;
            }
        }

        .c-lib-segmented-next .c-lib-segmented-nav-icon {
            border-width: 3px 0 3px 5px;
        }

        .c-lib-segmented-thumb {
            height: 24px;
        }
    }

    &-disabled {
        cursor: not-allowed;

        .c-lib-segmented-item {
            color: @text-color-disabled;
            cursor: not-allowed;
        }

        .c-lib-segmented-thumb {
            background-color: @background-color-mask-light;
            box-shadow: none;
        }

        .c-lib-segmented-nav {
            cursor: not-allowed;
            color: @text-color-disabled;

            &:hover {
                color: @text-color-disabled;
                background-color: @background-color-mask-light;
            }
        }
    }
}

.c-lib-segmented-item:not(.c-lib-segmented-item-disabled):hover {
    color: #000000;
}

.c-lib-segmented-item:not(.c-lib-segmented-item-disabled):active {
    color: #000000;
}