lib-select-box {
    display: inline-block;
    width: 100%;
}

lib-select {
    display: block;
}

.c-lib-select-basic-search-box {
    margin-left: 4px;
    max-width: 100%;
    position: relative;

    .c-lib-select-basic-search-text {
        visibility: hidden;
        position: absolute;
        left: 0px;
        white-space: nowrap;
    }

    .c-lib-select-basic-search-input {
        margin: 0;
        padding: 0;
        background: transparent;
        border: none;
        outline: none;
        appearance: none;
        width: 4px;
    }
}

.c-lib-select-basic-tag {
    display: inline-flex;
    align-items: center;
    max-width: 100%;
    background-color: fade(@blue-base, 6%);
    color: fade(@blue-base, 67%);
    border-radius: 2px;
    cursor: default;
    box-sizing: border-box;
    transition: all 0.2s ease;
    border: 1px solid fade(@blue-base, 12%);
    box-shadow: 0 1px 2px fade(@black, 2%);
    white-space: nowrap;
    overflow: hidden;

    .c-lib-select-basic-tag-text-box {
        padding-right: 4px;
        line-height: normal;
        display: flex;
        align-items: center;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        .c-lib-select-basic-tag-text {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    .c-lib-select-basic-tag-close-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        pointer-events: all;
        border-radius: 4px;
        transition: all 0.2s ease;
        flex: 0 0 auto;

        &:hover {
            background-color: @background-color-mask-light;
        }
    }

    &:hover {
        background-color: fade(@blue-base, 8%);
    }
}

.c-lib-select-basic-tag-base {
    padding: 0 4px 0 8px;
    height: 24px;

    .c-lib-select-basic-tag-close-icon {
        width: 16px;
        height: 16px;
    }
}

.c-lib-select-basic-tag-sm {
    padding: 0 2px 0 6px;
    height: 16px;
    border-radius: 2px;

    .c-lib-select-basic-tag-close-icon {
        width: 12px;
        height: 12px;
    }
}

.c-lib-select-basic-tag-lg {
    padding: 0 6px 0 10px;
    height: 32px;

    .c-lib-select-basic-tag-close-icon {
        width: 24px;
        height: 24px;
    }
}

.c-lib-select-basic-box {
    background-color: @text-color-inverse;
    border: 1px solid @border-color-base;
    border-radius: 2px;
    transition: all 0.2s ease;
    min-height: 32px;
    font-size: 14px;
    cursor: pointer;
    line-height: normal;
    display: flex;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 2px 0 fade(@black, 1.5%);
    box-sizing: border-box;

    &:hover {
        border: 1px solid fade(@blue-base, 40%);
    }

    &.c-lib-select-basic-box-active {
        border: 1px solid fade(@blue-base, 60%);
        box-shadow: 0 0 0 2px fade(@blue-base, 12%);
        outline: none;
    }

    .c-lib-select-basic-search-input {
        height: 28px;
    }

    &.c-lib-select-basic-box-lg {
        min-height: 40px;
        font-size: 16px;

        .c-lib-select-basic-box-content {
            min-height: 36px;
        }

        .c-lib-select-basic-box-placeholder,
        .c-lib-select-basic-box-singal-data {
            font-size: 16px;
            padding-left: 4px;
        }

        .c-lib-select-basic-search-input {
            height: 36px;
        }
    }

    &.c-lib-select-basic-box-sm {
        min-height: 24px;
        font-size: 14px;

        .c-lib-select-basic-box-content {
            min-height: 20px;
        }

        .c-lib-select-basic-box-placeholder,
        .c-lib-select-basic-box-singal-data {
            font-size: 14px;
            padding-left: 4px;
        }

        .c-lib-select-basic-box-suffix {
            min-width: 24px;
            max-width: 24px;
            height: 100%;
        }

        .c-lib-select-basic-search-box {
            margin-left: 4px;

            .c-lib-select-basic-search-input {
                height: 16px;
            }
        }
    }

    &.c-lib-select-basic-box-borderless {
        border: none;
        box-shadow: none;
    }

    &.c-lib-select-basic-box-error {
        border: 1px solid @error-color;

        &.c-lib-select-basic-box-active {
            border: 1px solid @error-color;
            box-shadow: 0 0 0 2px fade(@error-color, 20%);
        }
    }

    &.c-lib-select-basic-box-warning {
        border: 1px solid @warning-color;

        &.c-lib-select-basic-box-active {
            border: 1px solid @warning-color;
            box-shadow: 0 0 0 2px fade(@warning-color, 20%);
        }
    }

    .c-lib-select-basic-box-content {
        flex-grow: 1;
        display: flex;
        flex-wrap: wrap;
        padding: 1px 4px;
        min-height: 28px;
        position: relative;
        gap: 0px;
        align-items: center;
        max-width: calc(100% - 30px);
        overflow: hidden;
    }

    .c-lib-select-basic-box-suffix {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 0;
        flex-shrink: 0;
        min-width: 30px;
        max-width: 30px;
        height: 100%;
        margin-left: auto;

        .c-lib-select-basic-box-clear-icon {
            display: none;
            color: @text-color-tertiary;
            transition: all 0.2s ease;

            &:hover {
                color: @text-color-secondary;
            }
        }

        .c-lib-select-basic-box-icon {
            transition: all 0.3s ease-in-out;
            color: @text-color-secondary;
        }

        .c-lib-select-basic-box-icon-clear {
            display: block;
        }

        .c-lib-select-basic-box-loading-icon {
            display: flex;
            align-items: center;
            justify-content: center;

            .c-lib-select-basic-box-loading-svg {
                animation: rotate 1.2s linear infinite;
                color: fade(@blue-base, 60%);
            }
        }
    }

    &:hover {
        .c-lib-select-basic-box-suffix {
            .c-lib-select-basic-box-clear-icon {
                display: flex;
            }

            .c-lib-select-basic-box-icon-clear {
                display: none;
            }
        }
    }
}

.c-lib-select-basic-box-placeholder {
    display: flex;
    align-items: center;
    padding-left: 4px;
    color: @text-color-tertiary;
    position: absolute;
    height: 100%;
    line-height: normal;
    max-width: calc(100% - 8px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    .c-lib-select-basic-box-placeholder-text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.c-lib-select-basic-box-singal-data {
    padding-left: 4px;
    color: @text-color;
    position: absolute;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: normal;
}

.c-lib-select-basic-box-singal-data-gray {
    color: @text-color-tertiary;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.c-lib-select-basic-box-disabled {
    cursor: not-allowed;
    background-color: @background-color-disabled;
    color: @text-color-disabled;
    border-color: @border-color-base !important;

    .c-lib-select-basic-box-content,
    .c-lib-select-basic-box-suffix {
        pointer-events: none;
    }
}

.c-lib-select-basic-box-search-component {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
}

.c-lib-select-basic-box-tag-component {
    display: inline-flex;
    margin: 2px 4px 2px 0px;
    max-width: 100%;
}