lib-select-box {
    display: inline-block;
    width: 100%;
}

lib-select {
    display: block;
}

.c-lib-select-basic-search-box {
    margin-left: @select-basic-search-box-margin;
    max-width: 100%;
    position: relative;

    .c-lib-select-basic-search-text {
        visibility: hidden;
        position: absolute;
        left: 0px;
        white-space: nowrap;
    }

    .c-lib-select-basic-search-input {
        margin: 0;
        padding: 0;
        background: transparent;
        border: none;
        outline: none;
        appearance: none;
        width: @select-basic-search-input-width;
    }
}

.c-lib-select-basic-tag {
    display: inline-flex;
    align-items: center;
    max-width: 100%;
    background-color: fade(@blue-base, 6%);
    color: fade(@blue-base, 67%);
    border-radius: @select-basic-tag-border-radius;
    cursor: default;
    box-sizing: border-box;
    transition: @select-basic-tag-transition;
    border: @select-basic-tag-border-width solid fade(@blue-base, 12%);
    box-shadow: 0 @base-border-width @shadow-level-1 fade(@black, 2%);
    white-space: nowrap;
    overflow: hidden;

    .c-lib-select-basic-tag-text-box {
        padding-right: @select-basic-tag-text-padding;
        line-height: normal;
        display: flex;
        align-items: center;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        .c-lib-select-basic-tag-text {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    .c-lib-select-basic-tag-close-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        pointer-events: all;
        border-radius: @select-basic-tag-close-border-radius;
        transition: @select-basic-tag-close-transition;
        flex: 0 0 auto;

        &:hover {
            background-color: @background-color-mask-light;
        }
    }

    &:hover {
        background-color: fade(@blue-base, 8%);
    }
}

.c-lib-select-basic-tag-base {
    padding: @select-basic-tag-base-padding;
    height: @select-basic-tag-base-height;

    .c-lib-select-basic-tag-close-icon {
        width: @select-basic-tag-base-close-size;
        height: @select-basic-tag-base-close-size;
    }
}

.c-lib-select-basic-tag-sm {
    padding: @select-basic-tag-sm-padding;
    height: @select-basic-tag-sm-height;
    border-radius: @select-basic-tag-border-radius;

    .c-lib-select-basic-tag-close-icon {
        width: @select-basic-tag-sm-close-size;
        height: @select-basic-tag-sm-close-size;
    }
}

.c-lib-select-basic-tag-lg {
    padding: @select-basic-tag-lg-padding;
    height: @select-basic-tag-lg-height;

    .c-lib-select-basic-tag-close-icon {
        width: @select-basic-tag-lg-close-size;
        height: @select-basic-tag-lg-close-size;
    }
}

.c-lib-select-basic-box {
    background-color: @text-color-inverse;
    border: @select-basic-box-border-width solid @border-color-base;
    border-radius: @select-basic-box-border-radius;
    transition: @select-basic-box-transition;
    min-height: @select-basic-box-min-height;
    font-size: @select-basic-box-font-size;
    cursor: pointer;
    line-height: normal;
    display: flex;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;

    &:hover {
        border-color: @primary-color;
    }

    &.c-lib-select-basic-box-active {
        border-color: @primary-color;
        box-shadow: @select-basic-box-focus-shadow @primary-color-outline;
        outline: none;
    }

    .c-lib-select-basic-search-input {
        height: @select-basic-box-search-height;
    }

    &.c-lib-select-basic-box-lg {
        min-height: @select-basic-box-lg-min-height;
        font-size: @select-basic-box-lg-font-size;

        .c-lib-select-basic-box-content {
            min-height: @select-basic-box-lg-content-min-height;
        }

        .c-lib-select-basic-box-placeholder,
        .c-lib-select-basic-box-singal-data {
            font-size: @select-basic-box-lg-font-size;
            padding-left: @select-basic-box-lg-placeholder-padding;
        }

        .c-lib-select-basic-search-input {
            height: @select-basic-box-lg-search-height;
        }
    }

    &.c-lib-select-basic-box-sm {
        min-height: @select-basic-box-sm-min-height;
        font-size: @select-basic-box-font-size;

        .c-lib-select-basic-box-content {
            min-height: @select-basic-box-sm-content-min-height;
        }

        .c-lib-select-basic-box-placeholder,
        .c-lib-select-basic-box-singal-data {
            font-size: @select-basic-box-font-size;
            padding-left: @select-basic-box-lg-placeholder-padding;
        }

        .c-lib-select-basic-box-suffix {
            min-width: @select-basic-box-sm-suffix-size;
            max-width: @select-basic-box-sm-suffix-size;
            height: 100%;
        }

        .c-lib-select-basic-search-box {
            margin-left: @select-basic-box-sm-search-margin;

            .c-lib-select-basic-search-input {
                height: @select-basic-box-sm-search-height;
            }
        }
    }

    &.c-lib-select-basic-box-borderless {
        border: none;
        box-shadow: none;
    }

    &.c-lib-select-basic-box-error {
        border: @select-basic-box-border-width solid @error-color;

        &.c-lib-select-basic-box-active {
            border: @select-basic-box-border-width solid @error-color;
            box-shadow: @select-basic-box-focus-shadow @error-color-outline;
        }
    }

    &.c-lib-select-basic-box-warning {
        border: @select-basic-box-border-width solid @warning-color;

        &.c-lib-select-basic-box-active {
            border: @select-basic-box-border-width solid @warning-color;
            box-shadow: @select-basic-box-focus-shadow @warning-color-outline;
        }
    }

    .c-lib-select-basic-box-content {
        flex-grow: 1;
        display: flex;
        flex-wrap: wrap;
        padding: @select-basic-box-content-padding;
        min-height: @select-basic-box-content-min-height;
        position: relative;
        gap: 0px;
        align-items: center;
        max-width: @select-basic-box-content-max-width;
        overflow: hidden;
    }

    .c-lib-select-basic-box-suffix {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 0;
        flex-shrink: 0;
        min-width: @select-basic-box-suffix-min-width;
        max-width: @select-basic-box-suffix-max-width;
        height: 100%;
        margin-left: auto;

        .c-lib-select-basic-box-clear-icon {
            display: none;
            color: @text-color-tertiary;
            transition: @select-basic-tag-transition;

            &:hover {
                color: @text-color-secondary;
            }
        }

        .c-lib-select-basic-box-icon {
            transition: @select-basic-box-icon-transition;
            color: @text-color-secondary;
        }

        .c-lib-select-basic-box-icon-clear {
            display: block;
        }

        .c-lib-select-basic-box-loading-icon {
            display: flex;
            align-items: center;
            justify-content: center;

            .c-lib-select-basic-box-loading-svg {
                animation: rotate 1.2s linear infinite;
                color: fade(@blue-base, 60%);
            }
        }
    }

    &:hover {
        .c-lib-select-basic-box-suffix {
            .c-lib-select-basic-box-clear-icon {
                display: flex;
            }

            .c-lib-select-basic-box-icon-clear {
                display: none;
            }
        }
    }
}

.c-lib-select-basic-box-placeholder {
    display: flex;
    align-items: center;
    padding-left: @select-basic-placeholder-padding;
    color: @text-color-tertiary;
    position: absolute;
    height: 100%;
    line-height: normal;
    max-width: @select-basic-placeholder-max-width;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    .c-lib-select-basic-box-placeholder-text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.c-lib-select-basic-box-singal-data {
    padding-left: @select-basic-placeholder-padding;
    color: @text-color;
    position: absolute;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: normal;
}

.c-lib-select-basic-box-singal-data-gray {
    color: @text-color-tertiary;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.c-lib-select-basic-box-disabled {
    cursor: not-allowed;
    background-color: @background-color-disabled;
    color: @text-color-disabled;
    border-color: @border-color-base !important;

    .c-lib-select-basic-box-content,
    .c-lib-select-basic-box-suffix {
        pointer-events: none;
    }
}

.c-lib-select-basic-box-search-component {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
}

.c-lib-select-basic-box-tag-component {
    display: inline-flex;
    margin: @select-basic-tag-component-margin;
    max-width: 100%;
}