.c-lib-tree {
    &-container {
        width: 100%;
        max-height: 100%;
        overflow: hidden;
        font-size: @tree-font-size;
        color: @text-color;
    }

    &-hidden {
        display: none;
    }

    &-search {
        padding: @tree-search-padding;
        margin-bottom: @tree-search-margin;

        &-input {
            width: 100%;
            padding: @tree-search-input-padding;
            border: @base-border-width solid @border-color-base;
            border-radius: @tree-search-input-border-radius;
            transition: @tree-search-input-transition;

            &:focus {
                border-color: @primary-color;
                box-shadow: @tree-search-input-focus-shadow @primary-color-outline;
                outline: none;
            }
        }
    }

    &-node {
        &-container {
            padding: @tree-node-container-padding;
        }

        &-hidden {
            display: none;
        }

        &-list {
            list-style: none;
            margin: 0;
            padding: 0;
            transform-origin: 0 0;
        }

        &-content {
            position: relative;
            display: flex;
            align-items: center;
            padding: @tree-node-content-padding;
            height: @tree-node-content-height;
            border-radius: @tree-node-content-border-radius;
            cursor: pointer;
            transition: @tree-node-content-transition;

            &-disabled {
                color: @text-color-disabled;
                cursor: not-allowed;

                &:hover {
                    background-color: transparent;
                }
            }
        }

        &-children {
            position: relative;
            overflow: hidden;
            /* 确保溢出部分被隐藏 */
        }
    }

    &-indent {
        display: inline-block;
        height: @tree-indent-height;
        position: relative;
    }

    &-switcher {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: @tree-switcher-size;
        height: @tree-switcher-size;
        margin-right: @tree-switcher-margin;
        cursor: pointer;
        transition: @tree-switcher-transition;

        &-expanded {
            .c-lib-tree-switcher-icon {
                transform: rotate(90deg);
            }
        }

        &-noop {
            visibility: hidden;
        }

        &-disabled {
            color: @text-color-disabled;
            cursor: not-allowed;
        }

        .c-lib-tree-switcher-icon {
            position: relative;
            display: inline-block;
            width: @tree-switcher-icon-size;
            height: @tree-switcher-icon-size;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 3px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: @tree-switcher-icon-border-width;
                border-color: transparent transparent transparent currentColor;
            }
        }
    }

    &-icon {
        margin-right: @tree-icon-margin;
        font-size: @tree-icon-font-size;

        .c-lib-tree-icon {
            &.file-icon::before {
                content: '\1F4C4'; // 文件图标
            }

            &.folder-icon::before {
                content: '\1F4C1'; // 文件夹图标
            }

            &.folder-open-icon::before {
                content: '\1F4C2'; // 打开文件夹图标
            }
        }
    }

    &-title {
        display: flex;
        align-items: center;
        height: 100%;
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: @tree-title-padding;
        transition: @tree-title-transition;

        &:not(.c-lib-tree-title-disabled):hover {
            background-color: @background-color-hover;
        }

        &-selected {
            background-color: @tree-node-selected-bg !important;
        }
    }

    &-empty-state {
        text-align: center;
        padding: @tree-empty-padding;
        font-weight: @tree-empty-font-weight;
    }
}

.c-lib-tree-vertical-line {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: -50%;
        left: 50%;
        width: @tree-line-width;
        height: 150%;
        background-color: @border-color-base;
    }
}

.c-lib-tree-vertical-line-default {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: -50%;
        left: 50%;
        width: @tree-line-width;
        height: 100%;
        background-color: @border-color-base;
    }
}

.c-lib-tree-flat-line {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: -50%;
        width: 100%;
        height: @tree-line-width;
        background-color: @border-color-base;
    }
}

.c-lib-tree-children {
    position: relative;
}


.c-lib-tree-loading-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: @tree-loading-size;
    height: @tree-loading-size;
    margin-right: @tree-loading-margin;

    .c-lib-tree-loading-svg {
        animation: rotate 1.2s linear infinite;
        color: @primary-color;
        width: @tree-loading-icon-size;
        height: @tree-loading-icon-size;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}