// 下拉菜单
.c-lib-tree-select-dropdown {
    background-color: #fff;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    overflow: hidden;
    transform-origin: 0 0;
    transition: all 0.2s;
    z-index: 1000;

    &-closed {
        opacity: 0;
        transform: scaleY(0);
    }

    &-open {
        opacity: 1;
        transform: scaleY(1);
    }

    .c-lib-tree-select-container {
        width: 100%;
        overflow-y: auto;
        position: relative;
    }
}