.c-lib-tree {
    &-container {
        width: 100%;
        max-height: 100%;
        overflow: hidden;
        font-size: 14px;
        line-height: 1.5;
        color: rgba(0, 0, 0, 0.85);
    }

    &-hidden {
        display: none;
    }

    &-search {
        padding: 8px;
        margin-bottom: 8px;

        &-input {
            width: 100%;
            padding: 4px 8px;
            border: 1px solid #d9d9d9;
            border-radius: 2px;
            transition: all 0.3s;

            &:focus {
                border-color: #1890ff;
                box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
                outline: none;
            }
        }
    }

    &-node {
        &-container {
            padding: 0 4px;
        }

        &-hidden {
            display: none;
        }

        &-list {
            list-style: none;
            margin: 0;
            padding: 0;
            transform-origin: 0 0;
        }

        &-content {
            position: relative;
            display: flex;
            align-items: center;
            padding: 0 4px;
            height: 24px;
            border-radius: 2px;
            cursor: pointer;
            transition: all 0.3s;

            &-disabled {
                color: rgba(0, 0, 0, 0.25);
                cursor: not-allowed;

                &:hover {
                    background-color: transparent;
                }
            }
        }

        &-children {
            position: relative;
            overflow: hidden;
            /* 确保溢出部分被隐藏 */
        }
    }

    &-indent {
        display: inline-block;
        height: 24px;
        position: relative;
    }

    &-switcher {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        margin-right: 2px;
        cursor: pointer;
        z-index: 1;
        transition: all 0.3s;

        &-expanded {
            .c-lib-tree-switcher-icon {
                transform: rotate(90deg);
            }
        }

        &-noop {
            visibility: hidden;
        }

        &-disabled {
            color: rgba(0, 0, 0, 0.25);
            cursor: not-allowed;
        }

        .c-lib-tree-switcher-icon {
            position: relative;
            display: inline-block;
            width: 10px;
            height: 10px;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 3px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 5px 0 5px 6px;
                border-color: transparent transparent transparent currentColor;
            }
        }
    }

    &-checkbox {
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 16px;
        height: 16px;
        margin-right: 8px;
        border: 1px solid #d9d9d9;
        border-radius: 2px;
        background-color: #fff;
        transition: all 0.3s;
        cursor: pointer;

        &-checked {
            background-color: #1890ff;
            border-color: #1890ff;

            .c-lib-tree-checkbox-inner {
                position: relative;
                display: inline-block;
                width: 8px;
                height: 8px;

                &::after {
                    content: '';
                    position: absolute;
                    left: 1px;
                    top: -2px;
                    width: 6px;
                    height: 10px;
                    border: 2px solid #fff;
                    border-left: 0;
                    border-top: 0;
                    transform: rotate(45deg);
                }
            }
        }

        &-indeterminate {
            background-color: #fff;
            border-color: #1890ff;

            .c-lib-tree-checkbox-inner {
                position: relative;
                display: inline-block;

                &::after {
                    content: '';
                    position: absolute;
                    left: -4px;
                    top: -4px;
                    width: 8px;
                    height: 8px;
                    border-radius: 2px;
                    background-color: #1890ff;
                }
            }
        }

        &-disabled {
            background-color: #f5f5f5;
            border-color: #d9d9d9;
            cursor: not-allowed;

            .c-lib-tree-checkbox-inner {
                &::after {
                    border-color: rgba(0, 0, 0, 0.25);
                }
            }
        }
    }

    &-icon {
        margin-right: 4px;
        font-size: 14px;

        .c-lib-tree-icon {
            &.file-icon::before {
                content: '\1F4C4'; // 文件图标
            }

            &.folder-icon::before {
                content: '\1F4C1'; // 文件夹图标
            }

            &.folder-open-icon::before {
                content: '\1F4C2'; // 打开文件夹图标
            }
        }
    }

    &-title {
        display: flex;
        align-items: center;
        height: 100%;
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 2px 0px;
        transition: all 0.3s;

        &:not(.c-lib-tree-title-disabled):hover {
            background-color: #f5f5f5;
        }

        &-selected {
            background-color: rgba(30, 137, 200, 0.06) !important;
        }
    }

    &-empty-state {
        text-align: center;
        padding: 50px;
        font-weight: 600;
    }
}

.c-lib-tree-vertical-line {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: -50%;
        left: 50%;
        width: 1px;
        height: 150%;
        background-color: #d9d9d9;
    }
}

.c-lib-tree-vertical-line-default {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: -50%;
        left: 50%;
        width: 1px;
        height: 100%;
        background-color: #d9d9d9;
    }
}

.c-lib-tree-flat-line {
    position: relative;

    &::before {
        content: '';
        z-index: 0;
        position: absolute;
        top: 50%;
        left: -50%;
        width: 100%;
        height: 1px;
        background-color: #d9d9d9;
    }
}

.c-lib-tree-children {
    position: relative;
    will-change: height, opacity;
}


.c-lib-tree-loading-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    margin-right: 2px;

    .c-lib-tree-loading-svg {
        animation: rotate 1.2s linear infinite;
        color: #1890ff;
        width: 16px;
        height: 16px;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}